h1{
  color: #456789;
  font-size: 4em;
}

#board{
  max-width: 640px;
  min-width: 320px;
  float: none;
  margin: auto;
}

#player1{
  position: fixed;
  left: -250px;
  top: 0;
}
#player2{
  position: fixed;
  right: -300px;
  top: 0;
}

.square{
  background-color: rgba(0,0,0,0);
  border: 2px solid #000;
  outline: none;
  width: 30%;
  padding: 30px 0;
  font-size: 100px;
}

.square:hover{
  background-color: yellow;
}

.winning-square{
  background-color: magenta !important;
  color: yellow;
}